.container {
  display: flex;
  gap: 2rem 4rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.info {
  text-align: center;

  h1, h2 {
    font-weight: normal !important;
  }

}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 300px;
}

.incorrect {
  font-size: 0.875rem;
  position: absolute;
  bottom: -1.25rem;
}

.input {
  background-color: white;
  appearance: none;
  border: none;
  font-size: 1.25rem;
  outline-color: #EFE973;
}

.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background-color: #efd473;
  color: white;
  border: none;
  border-radius: 8px;

  &:hover {
    background-color: #EFE973;
  }
}